<div class="container">
	<div class="row">
		<div class="card" style="min-height:700px;">

			<strong>Title:</strong>
			<h5><%= @topic.title %> | <%= @topic.course_id %></h5>

			<p>
				<%= link_to "Edit", edit_topic_path(@topic) %> | 
				<%= link_to "Destroy", @topic, :confirm => "Are you sure?", :method => :delete %> | 
				<%= link_to "View All", topics_path %>
			</p>

			<p><%= @topic.content %></p>

			<hr>

		</div>
	</div>
</div>