<%= form_for [@submittable, @submission] do |f| %>
  <% if @submission.errors.any? %>
    <div class="error_messages">
      <h2>Please correct the following errors.</h2>
      <ul>
      <% @submission.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% @submissionitems.each do |item| %>
    <div class="well">
      <h4><%= item.title %></h4>
      <p><%= item.description %></p>

      <input id="submission_submissionitems_attributes_<%= item.assignmenttask_id %>_input" name="submission[submissionitems_attributes][<%= item.assignmenttask_id %>][input]" size="30" type="text" />

      <hr>
    </div>
  <% end %>

  <p><%= @submission.content %></p>
   
  <hr style="border: solid #fff;">

  <div class="actions">
      <div class="well well-large"><%= f.submit :class => "btn btn-large btn-block btn-success" %></div>
  </div>
 
<% end %>

