<%= form_for(@course) do |f| %>

	<% if @course.errors.any? %>
    	<div id="error_explanation">
      		<h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      		<ul>
		      <% @course.errors.full_messages.each do |msg| %>
		      	<li><%= msg %></li>
		      <% end %>
      		</ul>
    	</div>
  	<% end %>

<div style="min-height:500px;">

	<h2>Edit Apprenticeship Content</h2>

	<ul class="nav nav-tabs">
		<li class="active">	<a href="#challenge_info_backend_tab" 		data-toggle="tab"> 	Information			</a>	</li>
		<li>				<a href="#challenge_session_backend_tab" 	data-toggle="tab">	Challenge Session	</a>	</li>
		<li>				<a href="#challenge_submission_backend_tab" data-toggle="tab">	Assignment			</a>	</li>
		<li>				<a href="#materials_backend_tab" 			data-toggle="tab">	Materials 			</a>	</li>
		<li>				<a href="#review_backend_tab"	 			data-toggle="tab">	Review Guidelines  	</a>	</li>
		<li>				<a href="#questions_backend_tab" 			data-toggle="tab">	Test Questions 		</a>	</li>
	</ul>

	<div class="tab-content">
		<div class="tab-pane active" id="challenge_info_backend_tab">		<%= render "challenge_info_backend_tab" %>		 </div>
		<div class="tab-pane" 		 id="challenge_session_backend_tab">	<%= render "challenge_session_backend_tab" %>	 </div>
		<div class="tab-pane" 		 id="challenge_submission_backend_tab">	<%= render "challenge_submission_backend_tab" %> </div>
		<div class="tab-pane" 		 id="materials_backend_tab">			<%= render "materials_backend_tab" %>			 </div>
		<div class="tab-pane" 		 id="review_backend_tab">   			<%= render "review_backend_tab" %>   			 </div>
		<div class="tab-pane" 		 id="questions_backend_tab">			<%= render "questions_backend_tab" %>			 </div>
	</div>

</div>

<% end %>

