<%= form_for(@course) do |f| %>

	<% if @course.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

	      <ul>
	      <% @course.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
 	<% end %>

	<div class="row">
		<div class="three columns">
			<p style="font-size:15px;"><i class="icon-info-sign" style="vertical-align:0;"></i> Title </p>
		</div>
		<div class="nine columns">
			<%= f.text_field :title %>
		</div>
	</div>

	<div class="row">
		<div class="three columns">
			<p style="font-size:15px;"><i class="icon-user" style="vertical-align:0;"></i> Company </p>
		</div>
		<div class="nine columns">
			<%= f.text_field :company %>
		</div>
	</div>

	<div class="row">
		<div class="three columns">
			<p style="font-size:15px;"><i class="icon-film" style="vertical-align:0;"></i> Intro Video URL </p>
		</div>
		<div class="nine columns">
			<%= f.text_field :intro_video %>
		</div>
	</div>

	<div class="row">
		<div class="three columns">
			<p style="font-size:15px;"><i class="icon-film" style="vertical-align:0;"></i> Thumbnail </p>
		</div>
		<div class="nine columns">
			<%= f.text_field :thumbnail %>
		</div>
	</div>

	<div class="row">
		<div class="three columns">
			<p style="font-size:15px;"><i class="icon-list" style="vertical-align:0;"></i> Course Description </p>
		</div>
		<div class="nine columns">
			<%= f.text_area :description, :style => "width:100%;height:250px;" %>
		</div>
	</div>

	<div class="row">
		<div class="three columns">
			<p style="font-size:15px;"><i class="icon-ok-circle" style="vertical-align:0;"></i> Difficulty </p>
		</div>
		<div class="nine columns">
			<%= f.text_field :difficulty %>
		</div>
	</div>

	<div class="row">
		<div class="three columns">
			<p style="font-size:15px;"><i class="icon-list" style="vertical-align:0;"></i> Requirements </p>
		</div>
		<div class="nine columns">
			<%= f.text_area :requirements, :style => "width:100%;height:80px;" %>
		</div>
	</div>

	<hr style="border: solid #fff;">

	<div class="actions">
		<div class="well well-large"><%= f.submit :class => "btn btn-large btn-block btn-success" %></div>
	</div>

<% end %>