<!DOCTYPE html>
<html>
<head>
  <title>Scholarify</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<!--  Flash -->
<div class="row">
<center>
<% flash.each do |name, msg| %>
  <%= content_tag :div, :id => "flash_#{name}" do %>
    <%= msg %>
    <%= content_tag :span, :style => "float: right;" do %>
      <%= link_to_function image_tag('/assets/cross.png'), 
      :onclick => "document.getElementById('flash_#{name}').style.display='none'" %>
    <% end %>
  <% end %>
<% end %>
</center>
</div>

<%= render "layouts/navi" %>


<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
		<h3 id="myModalLabel">Login to Scholarify</h3>
	</div>
	<div class="modal-body">
		<center>
			<%= link_to "Sign in with Facebook", "/auth/facebook", :class => "btn btn-large btn-info" %>
			<p>or</p>
			<%= link_to "Sign in with Twitter", "/auth/twitter", :class => "btn btn-large btn-info" %>
		</center>
	</div>
</div>


<%= yield %>

<%= render "layouts/footer" %>

</body>
</html>
